
<!DOCTYPE html>
  <head>
    <title>Help | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>StaticPages#help</h1>
    <p>Find me in app/views/static_pages/help.html.erb</p>
  </body>
<html>